# Assignment 2

1. What are the two values of the Boolean data type? How do you write them?

 There are two Boolean values : True and False
   True =1
   False= 0
   It can be write like below,
   10>9
   10==9

In [1]:
type(True)

bool

In [2]:
type (False)

bool

In [3]:
True+True

2

In [4]:
True-False

1

In [6]:
print(10>9)

True

In [7]:
print(10==9)

False

2. What are the three different types of Boolean operators?
  not operator
  and operator
  or operator
  equality operator(==) 
  inequality operator(!=)
  
3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

In [27]:
bollist=["  == TRUTH TABLE  ","  X  ==  Y  Returns","True == True  True","True == False False","False == True  False","False == False True"]
bollist

['  == TRUTH TABLE  ',
 '  X  ==  Y  Returns',
 'True == True  True',
 'True == False False',
 'False == True  False',
 'False == False True']

In [33]:
anlist=["  AND  TRUTH TABLE  ","  X  and  Y  Returns","True and True  True","True and False False","False and True  False","False and False False"]
anlist

['  AND  TRUTH TABLE  ',
 '  X  and  Y  Returns',
 'True and True  True',
 'True and False False',
 'False and True  False',
 'False and False False']

In [35]:
olist=["  OR TRUTH TABLE  ","  X  or  Y  Returns","True or True  True","True or False True","False or True  True","False or False False"]
olist

['  OR TRUTH TABLE  ',
 '  X  or  Y  Returns',
 'True or True  True',
 'True or False True',
 'False or True  True',
 'False or False False']

In [42]:
nlist=[" NOT TRUTH TABLE  "," not  X  Returns","not  True  False","not False True"]
nlist

[' NOT TRUTH TABLE  ',
 ' not  X  Returns',
 'not  True  False',
 'not False True']

In [43]:
bollist+olist+anlist+nlist

[' NOT TRUTH TABLE  ',
 ' not  X  Returns',
 'not  True  False',
 'not False True',
 '  OR TRUTH TABLE  ',
 '  X  or  Y  Returns',
 'True or True  True',
 'True or False True',
 'False or True  True',
 'False or False False',
 '  AND  TRUTH TABLE  ',
 '  X  and  Y  Returns',
 'True and True  True',
 'True and False False',
 'False and True  False',
 'False and False False',
 ' NOT TRUTH TABLE  ',
 ' not  X  Returns',
 'not  True  False',
 'not False True']

4. What are the values of the following expressions?

In [44]:
(5 > 4) and (3 == 5)

False

In [45]:
not(5 > 4)

False

In [46]:
(5 > 4) or (3 == 5)

True

In [47]:
not(5 > 4) and (3 == 5)

False

In [48]:
(True and True) and (True == False)

False

In [49]:
(not False) or (not True)

True

5. What are the six comparison operators?
 equal(==) eg:- x==y
 inequal(!=) eg:- x!=y
 greater than(>)  eg:-  X > Y
 less than(<)     eg:-  X < Y
 greater than or equal to(>=)  eg:-  X >= Y
 less than or equal to(<=)     eg:-  X <= Y  
 
6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

The '=' assignment operator used to assign a value right to the variable on the left
eg:-  a=6

The  '==' equal to operator is used to compare the values of both the variables and the rsult is True or False

eg:-  5==5 

7. Identify the three blocks in this code:

spam = 0
if spam == 10:
print('eggs')  
if spam > 5:    # block A
print('bacon')  # block A; Block B inside block A
else:
print('ham')    # block A; Block C inside block A
print('spam')
print('spam')

In [69]:
spam = 0
if spam == 10:
   print('eggs')
   if spam > 5:
      print('bacon')
   else:
      print('ham')
   print('spam')
print('spam')

spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [4]:
spam = int(input("Input a no for spam:"))
if spam == 1:
    print('Hello')
elif spam == 2:
    print('Howdy')
else:
    print('Greetings!')

Input a no for spam:2
Howdy

9. If your programme is stuck in an endless loop, what keys you’ll press?
  ctl+C keys
  
  
10. How can you tell the difference between break and continue?

 Break statement makes the control come out of loop

Continue statement takes the control for next iteration


11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

 no difference. the range take from 0 to 9

In [5]:
for i in range(10):
    print(i)
print("*****") 
for i in range(0,10):
    print(i)
print("****")
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9
*****
0
1
2
3
4
5
6
7
8
9
****
0
1
2
3
4
5
6
7
8
9

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [9]:
#FOR LOOP
print('FOR LOOP')
for i in range(1,11):
    print(i)
print('*******')
#WHILE LOOP
print('WHILE LOOP')
a =1
while a <= 10:
    print(a)
    a+=1

FOR LOOP
1
2
3
4
5
6
7
8
9
10
*******
WHILE LOOP
1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?
 spam.bacon()